html, body {
	margin: 28px 0 0 0;
}
h1 {
	font-size: 30px;
	line-height: 2rem;
	font-weight: 500;
	padding-top: 20px;
	text-align: center;	
}
h2 {
	font-size: 24px;
	line-height: 2rem;
	font-weight: 500;
	padding-top: 50px;
	text-align: center;
}
h3 {
	font-size: 18px;;
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
}
.m-font-bold {
	font-weight: bold;
}
.m-flex-display {
	display: flex;
}
.m-rounded {
	border-radius: 0.5rem;
}
.m-banner {
	display: flex;
	justify-content: center;
	flex-direction: column;
    background-image: url(/images/bg2.jpg);
    color: white;
    background-size: cover;
	min-height: 350px;
	background-position-y: 74%;
	text-align: center;
}
.m-search-box {
	width: 40%;
	margin: 2rem auto;
}
.m-search-text {
	background:white;
	border-radius: 0.2rem;
	color:black;
	padding: 1rem 0 1rem 2rem;
	width:70%;
}
.m-error {
	color: #f01f28;
	font-size: 14px;
}
.m-cursor-pointer {
	cursor: pointer;
}
.m-font-size-m {
	font-size: 14px;
}
.m-underline {
  text-decoration: underline;
}
