html, body {
	margin: 28px 0 0 0;
}

h2 {
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 500;
	padding-top:20px;
	text-align: center;
}

h3 {
	font-size: 1.5rem;
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
}

.m-font-bold {
	font-weight: bold;
}

.m-flex-display {
	display: flex;
}
.m-rounded {
	border-radius: 0.5rem;
}
