html, body {
	margin: 0;
}

h2 {
	font-size: 4rem;
	padding-top: 4.188 rem;
	padding-bottom:2.5rem;
	line-height: 3.313 rem;
	font-weight: 500;
}

h3 {
	
	font-size: 1.5rem;
	font-weight: bold;
}

.m-font-bold {
	font-weight: bold;
}